<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>{{ title }}!
  </h1>

<div class="progress-wrapper" *ngIf="maxVal">
<div class="text" *ngIf="!isFinished">
  {{max - current | number: '1.1-1'}}s
</div>

<div class="text" *ngIf="isFinished">
  ding!
  <audio src="assets/chime.mp3" autoplay></audio>
</div>

  <round-progress [current]="current"
  [max]="max"
  [radius]="100"
  [stroke]="25"
  [stroke]= "rgb(121, 150, 173)">
  </round-progress>
</div>

<div class="controls-wrapper">
<label for="" >Seconds  <input type="number" name="" value="" [(ngModel)]="max" (keyup)="reset()" (keyup.enter)="resetAndStart()"></label>

<div class="row">

  <button type="button"(click)="start()" class="btn btn-primary" name="button">Start</button>

  <button type="button" *ngIf="!isFinished" class="btn btn-danger" (click)="finish()" name="button">Finish</button>
</div>

</div>
</div>
